.center-me {
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  text-align: left;
}

.shawdow {
  //border: 1px solid;
  box-shadow: 5px 5px #e1d5d5;
}
.center-image{
  line-height: 290px;
  text-align: center;
}
